html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  /* line-height: 1.6;
  font-size: 18px; */
}
/* 
* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
} */

.fadeable {
  animation: clear 1s 0.5s forwards;
  opacity: 0;
  transform: translateY(-100px);
}

@keyframes clear {
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeout {
  to {
    opacity: 0;
  }
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}
